<div id="foundItemForm">
  <form>
    <input type="text" name="title" placeholder="Item name"><br>
    <select name="categories">
      <option value="1">Electronics</option>
      <option value="2">Clothing</option>
      <option value="3">Sporting Goods</option>
      <option value="4">Miscellaneous</option>
    </select>
    <input type="date" name="date" placeholder="Date found"><br>
    <input type="time" name="time" placeholder="Time found"><br>
    <input type="textarea" name="details" placeholder="Item description"><br>
    <input type="textarea" name="secret_info" placeholder="Ask a question about the item that only the owner would know."><br>
    <input type="submit" value="Mark item as found.">
  </form>
</div>