<div id='lostFormWrap'>
  <!-- <form method="get" action="/users/sign_in"> -->
    <div class="lostLabel">I FOUND...</div>
    <label class='sectionName'>ITEM INFORMATION</label>
    <input id='foundTitleField' class='inputClass' type="text" placeholder="Title">
    <select id='foundCat1Field' class='selectClass'>
      <option selected value="base">Please select a category</option>
      <option value="1">Clothing</option>
      <option value="2">Electronics</option>
      <option value="3">Pets</option>
      <option value="4">Toys</option>
      <option value="5">Valuables</option>
      <option value="6">Other</option>
    </select>
    <select id='foundCat2Field' class='selectClass'>
      <option value="1">-----</option>
    </select>
    <input id='foundItemDescField' class='inputClass' type="text" placeholder="Item Description">
    <label class='sectionName'>LOCATION INFORMATION</label>
    <input id='foundDateField' class='inputClass' type="date" placeholder="Date Lost">
    <input id='foundTimeField' class='inputClass'type="time" placeholder="Time Lost">
    <input id='foundPlaceField' class='inputClass' type="text" placeholder="Additional information on the place">
    <label class='sectionName'>SECRET QUESTION</label>
    <input id='foundQuestionField' class='inputClass' type="text" placeholder="Secret question">
    <input class='buttonClass' type="submit" value="Submit Item" onclick='newFoundItem()'>
  <!-- </form> -->
</div>