<div id='lostFormWrap'>
  <!-- <form method="get" action="/users/sign_in"> -->
    <div class="lostLabel">I LOST...</div>
    <label class='sectionName'>ITEM INFORMATION</label>
    <input id='lostTitleField' class='inputClass' type="text" placeholder="Title">
    <select id='lostCat1Field' class='selectClass'>
      <option selected value="base">Please select a category</option>
      <option value="1">Clothing</option>
      <option value="2">Electronics</option>
      <option value="3">Pets</option>
      <option value="4">Toys</option>
      <option value="5">Valuables</option>
      <option value="6">Other</option>
    </select>
    <select id='lostCat2Field' class='selectClass'>
      <option value="1">-----</option>
    </select>
    <input id='lostItemDescField' class='inputClass' type="text" placeholder="Item Description">
    <label class='sectionName'>LOCATION INFORMATION</label>
    <input id='lostDateField' class='inputClass' type="date" placeholder="Date Lost">
    <input id='lostTimeField' class='inputClass'type="time" placeholder="Time Lost">
    <input id='lostPlaceField'class='inputClass' type="text" placeholder="Additional information on the place">
    <input class='buttonClass' type="submit" value="Submit Item" onclick='newLostItem()'>

  <!-- </form> -->
</div>