<div class="buttons">
    <button id='btnLost' type="button" class="btn btn-lg btn-lost" onclick='enterLostItem()'>I lost...</button>
    <button id='btnFound' type="button" class="btn btn-lg btn-found" onclick='enterFoundItem()'>I found...</button>
</div>