html, body, #map-canvas {
  height: 100%;
  margin: 0px;
  padding: 0px
}

#map_canvas {
  position: absolute;
}

#panel {
  z-index: 1;
  position: absolute;
  margin-top: 10px;
  margin-left: 10px;
  background-color: transparent;
}

#searchTextField {
  height: 30px;
  font-size: 15px;
  box-shadow: 1px 1px 5px 1px grey;
}