/* ----------- Font styles ----------- */

@font-face {
  font-family: 'Glyphicons Halflings';
  src: url('glyphicons-halflings-regular.eot');
  src: url('glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), url('glyphicons-halflings-regular.woff') format('woff'), url('glyphicons-halflings-regular.ttf') format('truetype'), url('glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg');
}

@font-face {
  font-family: 'Cherry Swash';
  font-style: normal;
  font-weight: 400;
  src: local('Cherry Swash'), local('CherrySwash-Regular'), url(http://themes.googleusercontent.com/static/fonts/cherryswash/v1/HqOk7C7J1TZ5i3L-ejF0vqRDOzjiPcYnFooOUGCOsRk.woff) format('woff');
}

@font-face {
  font-family: 'Cherry Swash';
  font-style: normal;
  font-weight: 700;
  src: local('Cherry Swash Bold'), local('CherrySwash-Bold'), url(http://themes.googleusercontent.com/static/fonts/cherryswash/v1/-CfyMyQqfucZPQNB0nvYyBAPw1J91axKNXP_-QX9CC8.woff) format('woff');
}


/* ----------- Navbar styles ----------- */

@media all {

  .navbar {
    margin: 0;
  }

  .navbar-inverse .navbar-brand {
    color: #fff;
    font-family: 'Cherry Swash', cursive;
    font-size: 2em;
  }

  .navbar-inverse .navbar-brand:hover {
    color: #999;
  }

  .nav > li > a {
    display: inline;
    font-size: 1.4em;
    line-height: 3em;
  }

  .navbar-nav {
    margin: 0;
  }

  .navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:hover, .navbar-inverse .navbar-nav>.open>a:focus {
    background-color: #222;
  }

}


/* ----------- Button styles ----------- */

.btn-lost {
  background-color: #8000b7;
  color: #fff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.00);
  -webkit-font-smoothing: antialiased;
}

.btn-lost:hover {
  color: #fff;
  background-color: #7300a4;
}

.btn-found {
  /*background-color: #fff;*/
  background-color: #eee;

  color: #333;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.00);
  -webkit-font-smoothing: antialiased;
}

.btn-found:hover {
  background-color: #eee;
}

.btn-lg {
  font-weight: bold;
  height: 50px;
  width: 49%;
}

.btn-filter {
  margin: 10px 0;
}



/* ----------- Layout ----------- */

html, body, #map-canvas {
  height: 100%;
  margin: 0px;
  padding: 0px
}

#map_canvas {
  position: absolute;
}

#panel {
  z-index: 1;
  position: absolute;
  background-color: rgb(128, 0, 183);
  background-color: rgba(128, 0, 183, 0.5);
  /*min-height: 100%;*/
  margin: 59px 0 0;
  padding-top: 15px;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 5px;
  width: 350px;
}

#searchTextField {
  border: none;
  box-shadow: none;
  font-size: 15px;
  height: 35px;
  width: 100%;
}



#lostItemForm {
  width: 200px;
  height: 350px;
  color: purple;
}

textarea{
  resize: none;
}

.selectClass {
   background: transparent;
   width: 268px;
   padding: 5px;
   font-size: 16px;
   line-height: 1;
   border: 0;
   border-radius: 0;
   height: 34px;
   background-color: white;
   -webkit-appearance: none;
   }
