<!DOCTYPE html>
<html>
<head>
  <title>Oomerang</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <a class="navbar-brand" href="#">oomerang</a>
    </nav>

<%= yield %>

</body>
</html>
